.header .top-bar {
  position: fixed;
  background-color: #00a595;
  height: 54px;
  width: 100%;
  z-index: 10;
}

.header .search-bar {
  position: absolute;
  top: 54px;
  background-color: #cacaca;
  height: 54px;
  width: 100%;
  padding: 8px 10px;
}

.header .caption {
  line-height: 54px;
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  text-align: center;
}

.header .branding {
  float: left;
  padding: 4px;
  margin-left: 14px;
  height: 100%;
}
.header .branding .logo {
  border-radius: 50%;
  background-color: #fff;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #000;
}

.header .nav-box {
  position: absolute;
  top: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 1px 0 rgba(173,168,168,.1), 0 1px 1px rgba(182,180,180,.1);
  transition: all 0.6s ease-in-out;
}
.header .nav-box.hidden {
  transform: translateX(-200%);
}
.header .nav-box li,
.header .nav-box li a {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 100%;
  cursor: pointer;
}
.header .nav-box li.active,
.header .nav-box li:hover {
  font-weight: bold;
}

.header .nav-opener {
  width: 54px;
  height: 54px;
  line-height: 54px;
  float: right;
  text-align: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.header .nav-opener:active {
  opacity: 0.7;
}

.header .search-box {
  position: relative;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: #adadad;
}
.header .search-box i {
  padding: 10px;
  border-radius: 10px 0 0 10px;
}
.header .search-box input {
  height: 100%;
  width: calc(100% - 34px);
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
}
.header .search-box button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  border: none;
  background: transparent;
  font-weight: bold;
  color: #009688;
  transition: all 0.6s ease-in-out;
}
.header .search-box button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (min-width: 720px) {
  .header {
    position: relative;
  }
  .header::after {
    clear: both;
    display: table;
    content: "";
  }
  .header .top-bar {
    position: relative;
    background-color: transparent;
    height: auto;
    width: 70%;
    z-index: auto;
  }
  
  .header .search-bar {
    position: absolute;
    right: 20px;
    background-color: #008e80;
    width: 30%;
    padding: 10px 15px;
  }

  .header .nav-opener,
  .header .caption {
    display: none;
  }

  .header .nav-box.hidden {
    transform: none;
  }

  .header .nav-box {
    position: absolute;
    left: 220px;
    right: 20px;
    width: auto;
    border: 2px solid #008e80;
    border-right: none;
    box-shadow: none;
    background-color: #008e80;
  }

  .header .nav-box li {
    float: left;
    width: 25%;
    color: #fff;
    background-color: #00a595;
    border-right: 2px solid #008e80;
  }
  .header .nav-box li.active,
  .header .nav-box li:hover {
    background-color: #fff;
    color: #000 !important;
  }
  .header .nav-box li:last-child {
    border-right: none;
  }

  .header .branding {
    margin: 0;
    padding: 20px;
  }
  .header .branding .logo {
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: 1px solid #ccc;
  }
  .header .branding .logo:hover {
    opacity: 0.7;
  }

  .header .search-box {
    background-color: #00a595;
  }
  .header .search-box i {
    color: #fff;
  }
  .header .search-box input {
    background-color: transparent;
  }
  .header .search-box input:hover {
    opacity: 0.7;
  }
  .header .search-box:focus-within {
    background-color: #fff;
  }
  .header .search-box:focus-within > i {
    color: #ccc;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
}