<div class="header">
  <div class="top-bar">
    <div class="branding">
      <a [routerLink]="['/']">
        <div class="logo">
          {{ name }}
        </div>
      </a>
    </div>
    <h1 class="caption">
      {{ caption }}
    </h1>
    <ul class="nav-box" [ngClass]="{ 'hidden': navBoxHidden }">
      <li *ngFor="let link of links" [ngClass]="{'active': isLinkActive(link.value)}">
        <a (click)="tapLink(link.value)">
          {{ link.name }}
        </a>
      </li>
    </ul>
    <div class="nav-opener" (click)="toggleNavBox()">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="search-bar">
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search" #search
        (keyup.enter)="fireSearch(search.value)"
        (input)="onSearchChange()"
      >
      <button (click)="fireSearch(search.value)" [hidden]="!searchable">Go</button>
    </div>
  </div>
</div>
