.footer {
  display: none;
}

@media only screen and (min-width: 720px) {
  .footer {
    display: block;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    padding: 25px 20px;
    text-align: right;
    line-height: 1;
  }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer ul li {
    float: left;
  }
  .footer ul li::after {
    content: "|";
    color: #b5b5b5;
  }
  .footer ul li:last-child::after {
    content: "";
  }
  .footer ul li a {
    color: #00a595;
    font-weight: bold;
    padding: 0 15px;
  }
  .footer span {
    font-size: 13px;
    color: #004841;
  }
}
