<div class="footer">
  <ul>
    <li><a [routerLink]="['/news']">News</a></li>
    <li><a [routerLink]="['/regions']">Regions</a></li>
    <li><a [routerLink]="['/video/']">Video</a></li>
    <li><a [routerLink]="['/tv']">TV</a></li>
  </ul>
  <span>Copyright © AMPOS</span>
</div>
