<div class="list">
  <div class="list-item" *ngFor="let item of items">
    <a [routerLink]="['/news', item.uri]">
      <h2 class="item-title">
        {{ item.title }}
      </h2>
      <div class="item-cover">
        <img [src]="item.cover">
      </div>
    </a>
    <div class="item-description">
      {{ item.description }}
    </div>
    <div class="item-meta">
      <span class="item-meta-updated-date">
        Updated: {{ item.meta.updated_date }}
      </span>
    </div>
  </div>
</div>
<div class="list-footer" [hidden]="!hasMore">
  <button (click)="load()">
    Load More
  </button>
</div>
